In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1113,tt0298814,60000000,74208267,The Core,Aaron Eckhart|Hilary Swank|Delroy Lindo|Stanle...,Jon Amiel,Earth has a deadline.,Geophysicist Dr. Josh Keyes discovers that an ...,136,Action|Thriller|Adventure|Science Fiction,Paramount Pictures|David Foster Productions|Ho...,3/28/2003,5.3,2003
330,tt1095217,25000000,10589102,The Bad Lieutenant: Port of Call - New Orleans,Nicolas Cage|Eva Mendes|Val Kilmer|Fairuza Bal...,Werner Herzog,The only criminal he can't catch is himself.,"Terrence McDonagh, a New Orleans Police sergea...",122,Drama|Crime,Saturn Films|Nu Image Films|Edward R. Pressman...,9/11/2009,5.8,2009
593,tt0246544,40000000,27053815,The Musketeer,Catherine Deneuve|Mena Suvari|Stephen Rea|Tim ...,Peter Hyams,As you've never seen it before.,In Peter Hyams's adaptation of the famous Alex...,104,Action|Adventure|Drama,Crystal Sky Worldwide|MDP Worldwide|ApolloMedi...,9/7/2001,5.1,2001
1614,tt0363988,40000000,92913171,Secret Window,Johnny Depp|John Turturro|Timothy Hutton|Charl...,David Koepp,The most important part of a story is the ending.,"Mort Rainey, a writer just emerging from a pai...",96,Thriller|Mystery,Columbia Pictures Corporation|Pariah Entertain...,3/12/2004,6.3,2004
971,tt1496025,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,Lakeshore Entertainment|Saturn Films|Screen Ge...,1/19/2012,6.0,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

profit = data.revenue - data.budget # Создадим переменную прибыль profit - сборы минус бюджет
data.insert(3, 'profit', profit) # Добавим столбец со значением прибыли в датасет.

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
# вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# "+" ответ верный

In [6]:
# код для решения данного вопроса, используя функцию query:

data.query('budget == budget.max()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# вариант ответа
answers['2'] = '2. Gods and Generals (tt0279111)'

# '+' ответ верный

In [8]:
# код для решения данного вопроса, используя фнукцию query:

data.query('runtime == runtime.max()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,-43076064,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
# вариант ответа
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# '+' ответ верный

In [10]:
# код для решения данного вопроса, используя функцию query:

data.query('runtime == runtime.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,-15540000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [11]:
# вариант ответа
answers['4'] = '2. 110'

# '+' ответ верный

In [12]:
# код для решения данного вопроса:

round(data.runtime.mean()) # Округляем значение длительности.

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
# вариант ответа
answers['5'] = '1. 107'

# '+' ответ верный

In [14]:
# код для решения данного вопроса:

round(data.runtime.median())  # Округляем значение длительности.

107

# 6. Какой самый прибыльный фильм?

In [15]:
# вариант ответа
answers['6'] = '5. Avatar (tt0499549)'

# '+' ответ верный

In [16]:
# код для решения данного вопроса:

data.query('profit == profit.max()') # Колонку с прибылью добавляем в датафрйем в предобработке.

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

# 7. Какой фильм самый убыточный?

In [17]:
# вариант ответа
answers['7'] = '5. The Lone Ranger (tt1210819)'

# '+' ответ верный

In [18]:
# код для решения данного вопроса:

data.query('profit == profit.min()')   # Колонку с прибылью добавляем в датафрейм в предобработке.

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
# вариант ответа
answers['8'] = '1. 1478'

# '+' ответ верный

In [20]:
# код для решения данного вопроса:

len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
# вариант ответа
answers['9'] = '4. The Dark Knight (tt0468569)'

# '+' ответ верный

In [22]:
# код для решения данного вопроса:

release_year_08 = data.query('release_year == 2008')  # Фильтруем датафрейм по году выхода фильма и присваиваем значения новой переменной.
release_year_08.query('revenue == revenue.max()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,816921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
# вариант ответа
answers['10'] = '5. The Lone Ranger (tt1210819)'

# '+' ответ верный

In [24]:
# код для решения данного вопроса:

year_12_14 = data.query('2012 <= release_year <= 2014') # Фильтруем датафрейм по году выхода фильма и присваиваем значения новой переменной.
year_12_14.query('profit == profit.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

# 11. Какого жанра фильмов больше всего?

In [25]:
# вариант ответа
answers['11'] = '3. Drama'

# '+' ответ верный

ВАРИАНТ 1

In [26]:
# код для решения данного вопроса:

# Преобразуем к Series колонку жанров, разделив строки. Подсчитаем количество каждого жанра и найдем максимальное значение.

pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts()[:1]

Drama    782
dtype: int64

ВАРИАНТ 2

In [27]:
# код для решения данного вопроса:

genres_split = pd.Series(data.genres.str.cat(sep='|').split('|')) # Присвоим новой переменной значение Sereies (жанры с разделенными строками.)
genres_max = genres_split.reset_index()   # Преобразуем в датафрейм.
genres_max.columns = ['index', 'genre']   # Для удобства присвоим названия колонок.
genres_max.describe(include = ['object'])  # Получим информацию о датафрейме.

        genre
count    5107
unique     19
top     Drama
freq      782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
# вариант ответа
answers['12'] = '1. Drama'

# '+' ответ верный

ВАРИАНТ 1

In [29]:
# код для решения данного вопроса:

data_genres = data.copy()  # Скопируем датафрейм в новую переменную. 
data_genres = data_genres[data_genres.profit > 0] # Отсортируем по значению прибыли.

# Преобразуем к Series колонку жанров, разделив строки. Подсчитаем количество каждого жанра и найдем максимальное значение.
pd.Series(data_genres.genres.str.cat(sep='|').split('|')).value_counts().head(1)

Drama    560
dtype: int64

ВАРИАНТ 2

In [33]:
# код для решения данного вопроса:

data_genres_1 = data.copy() # Скопируем датафрейм в новую переменную.
data_genres_1 = data_genres_1[data_genres_1.profit > 0] # Отсортируем по значению прибыли.
data_genres_1.genres = data_genres_1.genres.apply(lambda x: x.split('|')) # Применим функцию для разделения строк в колонке жанров.

import collections
c = collections.Counter() # Введем переменную для подсчета объектов с помощью модуля collections.

# Пройдемся циклом по жанрам и подсчитаем количество значений для каждого жанра.
for genres in data_genres_1.genres:
    for genre in genres:
        c[genre] += 1
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
# вариант ответа
answers['13'] = '5. Peter Jackson'

# '+' ответ верный

In [35]:
# код для решения данного вопроса:

data_director = data.copy() # Скопируем датафрейм в новую переменную.
data_director.genres = data_director.genres.apply(lambda x: x.split('|')) # Применим функцию для разделения строк в колонке режиссеров.

# Сгруппируем сборы в сумме и режиссеров, отсортировов по убывающей.
data_director = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

print(data_director.head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
# вариант ответа
answers['14'] = '3. Robert Rodriguez'

# '+' ответ верный

In [37]:
# код для решения данного вопроса:

data_director_action = data[data.genres.str.contains("Action")] # Отфильтруем жанры по наличию стиля Action и запишем в новую переменную.
collections.Counter(data_director_action.director.str.cat(sep = '|').split('|')).most_common(1) # Разделим строки в колонке режиссеров, подсчитаем количество и выведем самые часто встречающиеся.

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
# вариант ответа
answers['15'] = '3. Chris Hemsworth'

# '+' ответ верный

In [39]:
# код для решения данного вопроса:

data_2012 = data.copy()  # Скопируем датафрейм в новую переменную.
data_2012 = data_2012.query('release_year == 2012') # Отсортируем по году выхода фильма.

data_2012.cast = data_2012.cast.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке актерского состава.
data_2012_act = data_2012.explode('cast') # Преобразуем каждый элемент списка актерского состава в строку для удобства.

# Сгруппируем сумму сборов и актерский состав и отсортируем по убывающей.
data_2012_act.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
# вариант ответа
answers['16'] = '3. Matt Damon'

# '+' ответ верный

In [41]:
# код для решения данного вопроса:

data_above_avg = data.copy() # Скопируем датафрейм в новую переменную.
data_above_avg = data_above_avg.query('budget > budget.mean()') # Отсортируем по высокобюджетным фильмам.

data_above_avg.cast = data_above_avg.cast.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке актерского состава.
data_above_avg_act = data_above_avg.explode('cast') # Преобразуем каждый элемент списка актерского состава в строку для удобства.

# Получаем информацию о датафрейме.
data_above_avg_act.cast.describe(include = ['object'])

count           3355
unique          1505
top       Matt Damon
freq              18
Name: cast, dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
# вариант ответа
answers['17'] = '2. Action'

# '+' ответ верный

In [43]:
# код для решения данного вопроса:

# Создадим новую переменную для Николаса, отфильтровов оригинальный датафрейм по наличию его имени в колонке cast.
data_cage = data[data.cast.str.contains("Nicolas Cage")]
Counter(data_cage.genres.str.split('|').sum()).most_common(1) # Пройдемся по жанрам (разделенным) и найдем наиболее часто встречающийся.

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
# вариант ответа
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# '+' ответ верный

In [45]:
# код для решения данного вопроса:

# Создадим новую переменную для компании, отфильтровов оригинальный датафрейм по наличию названия в колонке production_companies.
# Найдем минимальное значение прибыли.
data_paramount = data[data.production_companies.str.contains("Paramount Pictures")]
data_paramount.query('profit == profit.min()')

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
925,tt0267626,100000000,35168966,-64831034,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
# вариант ответа
answers['19'] = '5. 2015'

# '+' ответ верный

In [47]:
# код для решения данного вопроса:

# Сгруппируем по сумме сборов и году выпуска, отсортируем по убывающей.
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
# вариант ответа
answers['20'] = '1. 2014'

# '+' ответ верный

In [49]:
# код для решения данного вопроса:

# Создадим новую переменную для компании, отфильтровов оригинальный датафрейм по наличию названия в колонке production_companies.
data_warner = data[data.production_companies.str.contains("Warner Bros")]

# Сгруппируем по сумме прибыли и году выхода, отфильтровав по убывающей.
data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
# вариант ответа
answers['21'] = '4. Сентябрь'

# '+' ответ верный

In [51]:
# код для решения данного вопроса:

data_month = data.copy() # Скопируем датафрейм в новую переменную.
data_month.release_date = data_month.release_date.apply(lambda x: x.split('/')) # Применив функцию, разделим значения в колонке дат.
data_month.release_date = data_month.release_date.apply(lambda x: x[0]) # Применив функцию, оставим в колонке дат только месяц.

# Посчитаем количество значений.
data_month.release_date.value_counts(ascending=False).head(1)

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
# вариант ответа
answers['22'] = '2. 450'

# '+' ответ верный

In [53]:
# код для решения данного вопроса:

data_summer = data.copy() # Скопируем датафрейм в новую переменную.
data_summer.release_date = data_summer.release_date.apply(lambda x: x.split('/')) # Применив функцию, разделим значения в колонке дат.
data_summer.release_date = data_summer.release_date.apply(lambda x: x[0]) # Применив функцию, оставим в колонке дат только месяц.

# Посчитаем суммарное количество фильмов в летние месяцы.
len(data_summer.query('release_date in ["6", "7", "8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
# вариант ответа
answers['23'] = '5. Peter Jackson'

# '+' ответ верный

In [55]:
# код для решения данного вопроса:

data_winter = data.copy() # Скопируем датафрейм в новую переменную.
data_winter.release_date = data_winter.release_date.apply(lambda x: x.split('/')) # Применив функцию, разделим значения в колонке дат.
data_winter.release_date = data_winter.release_date.apply(lambda x: x[0]) # Применив функцию, оставим в колонке дат только месяц.

# Отфильтруем в новую переменную датафрейм по зимним месяцам.
data_winter_dir = data_winter.query('release_date in ["1", "2", "12"]')

Counter(data_winter_dir.director.str.split('|').sum()).most_common(1) # Пройдемся по режиссерам (разделенным) и найдем наиболее часто встречающегося.

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
# вариант ответа
answers['24'] = '5. Four By Two Productions'

# '+' ответ верный

In [57]:
# код для решения данного вопроса:

data_title = data.copy() # Скопируем датафрейм в новую переменную.
data_title.original_title = data_title.original_title.apply(lambda x: len(x)) # Преобразуем названия фильмов в количество символов названия.
data_title.production_companies = data_title.production_companies.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке компаний.
data_title = data_title.explode('production_companies') # Преобразуем каждый элемент списка компаний в строку для удобства.

# Сгруппируем среднее значения символов в названии и компании и отсортируем по убывающей.
data_title.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
# вариант ответа
answers['25'] = '3. Midnight Picture Show'

# '+' ответ верный

In [59]:
# код для решения данного вопроса:

data_overview = data.copy() # Скопируем датафрейм в новую переменную.
data_overview.overview = data_overview.overview.apply(lambda x: len(x)) # Преобразуем описания фильмов в количество символов описания.
data_overview.production_companies = data_overview.production_companies.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке компаний.
data_overview = data_overview.explode('production_companies') # Преобразуем каждый элемент списка компаний в строку для удобства.

# Сгруппируем среднее значения символов в описании фильма и компании и отсортируем по убывающей.
data_overview.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [60]:
# вариант ответа
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# '+' ответ верный

In [61]:
# код для решения данного вопроса:

best_films = data.copy() # Скопируем датафрейм в новую переменную.
best_films = best_films.sort_values('vote_average')[['original_title', 'vote_average']] # Отсортируем датафрейм по названию фильма и его рейтингу.

# Используя функцию quantile, найдем фильмы, входящие в 1 процент лучших по рейтингу.
best_films.query('vote_average >= vote_average.quantile(0.99)').sort_values(by='vote_average', ascending=False)

                                         original_title  vote_average
599                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
138                            The Grand Budapest Hotel           7.9
1183                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
119                             Guardians of the Galaxy           7.9
1800                                            Memento           7.9
128                                           Gone Girl           7.9
1191                                   12 Years a Slave           7.9
124                                          Big Hero 6           7.8
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1213                                 Dallas Buyers Club           7.8
177                              The Fault in Our Stars           7.8
1188                                                Her           7.8
1444                                       The Prestige           7.8
28                                            Spotlight           7.8
316                                            3 Idiots           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8
1205                                          Prisoners           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
# вариант ответа
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

# '+' ответ верный

In [63]:
# код для решения данного вопроса:

data_cast_27 = data.copy() # Скопируем датафрейм в новую переменную.
data_cast_27.cast = data_cast_27.cast.apply(lambda x: x.split('|')) # Применив функцию, разделим значения в колонке актерского состава.
data_cast_27_pairs = data_cast_27.cast.reset_index() # Создадим датафрейм только с актерским составом.

# Используя модель iterools, найдем парные комбинации и запишем их в отдельную колонку.
data_cast_27_pairs['pairs'] = data_cast_27_pairs['cast'].apply(lambda x: list(itertools.combinations(x, 2)))
data_cast_27_pairs = data_cast_27_pairs.explode('pairs') # Преобразуем каждый элемент списка компаний в строку для удобства.

# Пройдемся по колонке пар и найдем наиболее часто встречиющиеся.
Counter(data_cast_27_pairs['pairs']).most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

# Submission

In [64]:
# ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [65]:
len(answers)

27